//
//  Development.xcconfig
//  xcconfig_template
//
//  Created by Ara Hakobyan on 17/04/2019.
//  Copyright © 2019 Ara Hakobyan. All rights reserved.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

#include "Shared.xcconfig"
#include "Pods/Target Support Files/Pods-xcconfig_template/Pods-xcconfig_template.development.xcconfig"
#include "Pods/Target Support Files/Pods-AHFramework/Pods-AHFramework.development.xcconfig"

Environment=Development
